:root {
    --fuentePrincipal: 'Outfit', sans-serif;
}

body {
    background-color: hsl(217, 54%, 11%);
    font-family: var(--fuentePrincipal);
    font-size: 18px;
    color: #ffffff;
}


/* CARD */
.card {
    width: 300px;
    margin: 180px auto 0 auto;
    padding: 25px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    box-shadow: 0px 28px 0px 12px rgba(8,16,28,0.20);
}

/* CARD IMAGE */
.card-image {
    position: relative;
    height: 300px;
}
.card-image img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.view {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: hsla(178, 100%, 50%, .6);
    border-radius: 10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity .3s ease;
}
.view img {
    height: 50px;
}
.card-image:hover .view {
    opacity: 1;
}

/* CARD CONTENT */
.card-content h5 {
    font-size: 22px;
    margin: 22px 0 0 0;
    color: #ffffff;
    transition: color .3s ease;
}
.card-content h5:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
.card-content p {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    line-height: 1.5;
}

/* Card Stats */
.card-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.card-stats .stat {
    display: flex;
    align-items: center;
}

.card-stats .stat img {
    width: 18px;
    margin-right: 6px;
}
.card-stats .stat img[alt^="cryptoactive"]{
    width: 12px;
}
.card-stats .stat p {
    margin: 0;
    font-size: 16px;
}
.card-stats .stat .modifier {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

/* Card Author */
.card-author {
    display: flex;
    align-items: center;
    margin-top: 22px;
    padding-top: 15px;
    border-top: 1px solid hsl(215, 32%, 27%);
}
.author-image img {
    width: 31px;
    height: 31px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #ffffff;
    margin-right: 15px;
}

.card-author p {
    margin: 0;
    font-size: 16px;
}
.card-author p a {
    color: #ffffff;
    text-decoration: none;
    transition: color .3s ease; 
}
.card-author p a:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

/* FOOTER */
.attribution {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 30px 0;
    font-size: 11px;
    text-align: center;
}
.attribution p:first-of-type {
    margin-right: 20px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}